<div class="row">
  <div class="col">
    <h1>Tareas</h1>
  </div>
</div>

<div class="row tasks">

  <% @tasks.each do |task| %>
  <div class="col-md-3 tasks__item">
    <div class="card">
      <img class="card-img-top" src="<%= task.image %>" alt="<%= task.name %>">
      <div class="card-body">
        <h4 class="card-title"><%= task.name %></h4>
        <%= link_to 'Ver tarea', task, class: 'btn btn-primary btn-sm' %>
        <% unless current_user.completedtasks.exists?(task.id) %>
        <a href="<%= task_completedtasks_path(task) %>" class="btn btn-success btn-sm" data-method="post">Completar tarea</a>
        <% else %>
        <a href="<%= completedtask_path(task) %>" class="btn btn-danger btn-sm" data-method="delete">No completada</a>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>
